* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.survey {
	background-color: #333;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	padding: 5 10 5 10px;
	display: flex;
	align-items: center;
}

.surveyicon {
	width: 30px;
	height: 30px;
	padding: 4px;
	margin-right: 7px;
	display: inline;
}

.survey p {
	display: inline-block;
	color: white;
	margin: 0;
	font-size: 0.8125rem;

}

.survey a {
	text-decoration: none;
	color:#008fff;
	font-weight: bold;
}

.survey a:hover {
	color: white;
}
